.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e537b;
    padding: 0.4rem 1rem 0.4rem 0.5rem;
}
    .header-left {
         padding-top: 0.1rem;
    }
    .header-right {
        display: flex;
        gap: 2vw;
        font-size: 1.1rem;
        color: white;
        text-decoration: none;
        justify-content: center;
        text-align: center;
    }
        .header-right a, .header-right a:visited {
            color: white;
            text-decoration: none;
        }


.WL-logo {
    width: 10rem;
}

main {
    width: 100%;
    background-color: #f1f5f9e7;
    display: flex;
    flex-direction: row;
    padding-bottom: 80px;
}
main .main-intro{
    padding: 1.5rem;
}

main h1 {
    font-size: 350%;
    font-weight: 550;
}

main img {
    width: 100%;
    opacity: 1;
    height: 30rem;
    transform: scaleX(-1);
    object-fit: cover;
}