@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Lato", sans-serif;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
.header-right {
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}
.PUM-logo {
    width: 12rem;
}
.rendering {
    width: 100%;
}